{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- Home section -->
    <div class="row home-section">
        <div class="col-md-6 content" data-aos="zoom-out-right">
            <h2 class="display-4">Delicious Cakes Crafted to Perfection</h2>
            <p class="lead">Welcome to the world of exquisite cakes that tantalize your taste buds and elevate your
                celebrations. At Cake Bliss, we craft delicious, handcrafted cakes that are perfect for every occasion.
            </p>
            <!-- Order Now button with custom class -->
            <a href="{% url 'products:all_products' %}" class="btn btn-lg order-now-button">Order Now</a>
        </div>
        <div class="col-md-6 img" data-aos="zoom-out-left">
            <!-- Image or other content goes here -->
        </div>
    </div>
</div>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'images/aboutpage.png' %}" alt="About Image">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Discover Our Sweet Journey</h3>
                <p>
                    Indulge in the sweet journey of Cake Cravings, where every bite is a celebration of flavors and
                    craftsmanship.
                </p>
                <p class="fst-italic">
                    Delighting taste buds since 2020, Cake Cravings has been on a mission to bring joy to your
                    celebrations with our delightful treats. We take pride in creating exquisite baked goods using
                    high-quality ingredients and a touch of passion.
                </p>
                <p>
                    Explore our diverse range of categories, including Cakes, Cupcakes, Cookies, and Seasonal Specials.
                </p>
                <p>
                    Whether you prefer the convenience of home delivery or the personal touch of local pickup, Cake
                    Cravings ensures a memorable experience. Our skilled bakers infuse creativity into every
                    masterpiece,
                    making each bite a moment to savor.
                </p>
                <p>
                    Join us on this delectable adventure and treat yourself to the best in baked goods. Cake Cravings is
                    where sweetness meets perfection!
                </p>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}