{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- Home section -->
    <div class="row home-section">
        <div class="col-md-6 content" data-aos="zoom-out-right">
            <h2 class="display-4">Delicious Cakes Crafted to Perfection</h2>
            <p class="lead">Welcome to the world of exquisite cakes that tantalize your taste buds and elevate your
                celebrations. At Cake Bliss, we craft delicious, handcrafted cakes that are perfect for every occasion.
            </p>
            <!-- Order Now button  -->
            <a href="{% url 'products:all_products' %}" class="btn btn-lg order-now-button">Order Now</a>
        </div>
        <div class="col-md-6 img" data-aos="zoom-out-left">
        </div>
    </div>
</div>
<!--About section -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'images/aboutpage.png' %}" alt="About Image">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Discover Our Sweet Journey</h3>
                <p>
                    Indulge in the sweet journey of Cake Cravings, where every bite is a celebration of flavors and
                    craftsmanship.
                </p>
                <p class="fst-italic">
                    Delighting taste buds since 2020, Cake Cravings has been on a mission to bring joy to your
                    celebrations with our delightful treats. We take pride in creating exquisite baked goods using
                    high-quality ingredients and a touch of passion.
                </p>
                <p>
                    Explore our diverse range of categories, including Cakes, Cupcakes, Cookies, and Seasonal Specials.
                    Whether you're planning a birthday celebration, wedding, or any special event, we also specialize in
                    catering for parties.
                    Indulge in our delicious treats to make your moments even sweeter.
                </p>
                <p>
                    Whether you prefer the convenience of home delivery or the personal touch of local pickup, Cake
                    Cravings ensures a memorable experience. Our skilled bakers infuse creativity into every
                    masterpiece,
                    making each bite a moment to savor.
                </p>
                <p>
                    Join us on this delectable adventure and treat yourself to the best in baked goods. Cake Cravings is
                    where sweetness meets perfection!
                </p>
            </div>
        </div>
    </div>
</section>
<!--Gallery section-->
<section id="gallery" class="gallery" style="background-color: #222;">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallery</h2>
            <p style="color: wheat;">Memorable moments from parties held in our bakery</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-3">
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image1.webp' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image1.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image2.webp' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image2.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image.webp3' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image3.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image.webp4' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image4.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image.webp5' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image5.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image.webp6' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image6.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image7.webp' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image7.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'images/gallery_image8.webp' %}" class="gallery-lightbox"
                        data-gall="gallery-item">
                        <img src="{% static 'images/gallery_image8.webp' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery Modal Container -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Contact us Section -->
<section id="contact" style="background-color: #222; margin-top: -50px;">
    <div class="container">
        <h2 class="text-center mt-4">Contact Us</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Bakery Location</h3>
                <p style="color: white;">
                    Sprendlinger Landstraße 222<br>
                    Frankfurt<br>
                    Germany
                </p>
                <h3>Contact Information</h3>
                <p style="color: white;">
                    <strong>Phone:</strong> (+49) 1523 456 7890<br>
                    <strong>Email:</strong>info@cakecravings.com
                </p>
            </div>
            <div class="col-md-6">
                <h3>Location</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d81877.74852377868!2d8.59972636914837!3d50.111003034756415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47bd096f477096c5%3A0x422435029b0c600!2sFrankfurt!3m2!1d50.110922099999996!2d8.6821267!5e0!3m2!1sen!2sde!4v1702074246907!5m2!1sen!2sde"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle click event on gallery items
        $('.gallery-item a').click(function (e) {
            e.preventDefault();

            // Get the image source from the clicked gallery item
            var imageSrc = $(this).attr('href');

            // Set the modal image source
            $('#modalImage').attr('src', imageSrc);

            // Show the modal
            $('#galleryModal').modal('show');
        });
    });
</script>
{% endblock %}