{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5" style="min-height: 300px;">
    {% if wishlist_products %}
    <h1>Your Wishlist</h1>
    <div class="row">
        {% for product in wishlist_products %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'product_detail' product.id %}" class="card-link wishlist-link">
                <div class="card">
                    {% if product.images.all %}
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="card-img-top"
                        style="max-height: 150px; object-fit: contain;">
                    {% else %}
                    <!-- Display a default image if no product image is available -->
                    <img src="{% static 'images/default_image.png' %}" alt="{{ product.name }}" class="card-img-top"
                        style="max-height: 150px; object-fit: contain;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 1.5rem;">{{ product.name }}</h5>
                        <p class="card-text" style="font-size: 1.2rem;">{{ product.price }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Your wishlist is empty.</p>
    <a href="{% url 'all_products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span>Back to Menus</span>
    </a>
    {% endif %}
</div>

<style>
    /* Add this style to change the link color */
    .wishlist-link {
        color: #000000;
    }
</style>

{% endblock %}