{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        
        {# Render form fields using crispy_forms #}
        {% crispy form %}

        <button type="submit" name="action">{% trans 'Set Password' %}</button>
    </form>
{% endblock content %}
