{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'all_products' %}">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
            <!-- Image Gallery -->
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="image-gallery">
                            <!-- Main Image -->
                            <div class="main-image">
                                <!-- Inside your template where you display the product image -->
                                <!-- Main Image -->
                                <div class="main-image">
                                    {% if product.images.first.image_url %}
                                    <img src="{{ product.images.first.image_url }}" alt="{{ product.name }}"
                                        class="img-fluid mt-4" id="mainImage">
                                    {% else %}
                                    <img src="{% static 'images/default_image.png' %}" alt="{{ product.name }}"
                                        class="img-fluid mt-4" id="mainImage">
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Thumbnails -->
                            <div class="thumbnails" onclick="changeMainImage(event)">
                                {% for image in product.images.all %}
                                <img src="{{ image.image_url }}" alt="product image" class="thumbnail"
                                    data-main-image="{{ image.image_url }}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 product-detail mt-4">
            <!-- Existing Product Details -->
            <h1>{{ product.name }}</h1>
            <p class="text-muted">{{ product.description }}</p>
        
            <!-- Display Size, Availability, and Price -->
            <div class="product-details">
                {% if product.size %}
                <p><strong>Size:</strong> {{ product.get_size_display }}</p>
                {% endif %}
                <p><strong>Availability:</strong> {{ product.get_availability_display }}</p>
                <div class="product-price">
                    {% if product.price is not None %}
                        <span class="current-price text-brand" id="product-price" data-product-price="{{ product.price }}">
                            €{{ product.price }}
                        </span>
                        {% if product.discounted_price %}
                            <span class="save-price font-md color3 ml-3">{{ product.discount_percentage }} Off</span>
                            <span class="old-price font-md ml-3">€{{ product.discounted_price }}</span>
                        {% endif %}
                    {% else %}
                        <span class="text-muted">Price not available</span>
                    {% endif %}
                </div>
            </div>
        
            {% if average_rating %}
            <small class="text-muted" style="font-size: 16px;">
                <i class="fas fa-star mr-1" style="color: gold;"></i>{{ average_rating|floatformat:"1" }} / 5
            </small>
            {% else %}
            <small class="text-muted" style="font-size: 16px;">No Rating</small>
            {% endif %}
        
            <div class="product-size mt-3">
                <form id="addToCartForm" class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as S %}
                        {% if S %}
                        <div class="col-12">
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                <option value="S" selected>S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-secondary rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-secondary rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'all_products' %}" class="btn btn-secondary rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Our Menus</span>
                            </a>
                            <input type="submit" class="btn btn-secondary rounded-0  mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
                <!-- Wishlist Button -->
                {% if wishlist %}
                <a data-pid="{{ product.id }}" aria-label="remove from Wishlist"
                    class="btn minus-wishlist btn-danger px-2 py-2 ms-2" href="#">
                    <i class="fas fa-heart"></i>
                </a>
                {% else %}
                <a data-pid="{{ product.id }}" aria-label="Add to Wishlist"
                    class="btn plus-wishlist btn-custom-color px-2 py-2 ms-2" href="#">
                    <i class="fas fa-heart"></i>
                </a>
                {% endif %}
        
            </div>
        </div>
        
       
        <div class="product-extra-link2 mt-3">
            <!-- Ingredients Section -->
            <div class="ingredients">
                <h2>Classic Ingredients</h2>
                <p>{{ product.ingredients }}</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 feature text-center">
                <img src="{% static 'images/flour_mix_icon.png' %}" alt="flour mixing icon" class="img-fluid mx-auto">
                <div>
                    <h3>Made with Care Every Day</h3>
                    <p>Crafting each product with precision, we use only the finest ingredients to ensure a delightful
                        treat.</p>
                </div>
            </div>

            <div class="col-md-4 feature text-center">
                <img src="{% static 'images/caketruck.png' %}" alt="cake truck icon" class="img-fluid mx-auto">
                <div>
                    <h3>Swift Local Deliveries</h3>
                    <p>We offer prompt local delivery services, bringing our delicious creations to homes and businesses
                        in
                        proximity to our establishments across Frankfurt and Offenbach.</p>
                </div>
            </div>

            <div class="col-md-4 feature text-center">
                <img src="{% static 'images/bakery.png' %}" alt="bakery icon" class="img-fluid mx-auto">
                <div>
                    <h3>Bakery Delivery</h3>
                    <p>Using only the best and freshest ingredients, our bakeries create our signature delicacies every
                        day.</p>
                </div>
            </div>
        </div>
    </div>
    <!--  Related product  -->
    <div class="container mt-4">
        <h2 class="mb-3 text-center">Related Products</h2>
        <div class="row">
            {% for related_product in related_products %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{% if related_product.images.first.image_url %}{{ related_product.images.first.image_url }}{% else %}{% static 'images/default_image.png' %}{% endif %}"
                        alt="{{ related_product.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ related_product.name }}</h5>
                        <p class="card-text">Price: €{{ related_product.price }}</p>
                        {% if related_product.average_rating %}
                        <p class="card-text">Average Rating: {{ related_product.average_rating|floatformat:"1" }} / 5
                        </p>
                        {% else %}
                        <p class="card-text">No Rating</p>
                        {% endif %}
                        <a href="{% url 'product_detail' product_id=related_product.id %}"
                            class="btn btn-primary">View
                            Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--  Review  -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mb-4">Customer Reviews for {{ product.name }}</h2>
                <div class="reviews-container row">
                    {% for review in reviews %}
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                        <div class="card">
                            <div class="review-details">
                                <div class="user-info">
                                    <span class="font-weight-bold d-block">{{ review.user.username }}</span>
                                    <small class="text-muted mt-1">
                                        Created on {{ review.created_at|date:'F j, Y' }}
                                    </small>
                                </div>
                                <div class="rating mt-1">
                                    {% for star in "12345"|make_list %}
                                    {% if forloop.counter <= review.rating %}
                                    <i class="fa fa-star u-color" style="color:gold;"></i>
                                    {% else %}
                                    <i class="fa fa-star-o u-color"></i>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="review-content">
                                    <p>{{ review.comment }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <h5>No reviews available.</h5>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Review form below the reviews -->
                <div id="reviewFormContainerBelow" class="review-form-container">
                    <h3>Add Review</h3>
                    <!-- Rating input -->
                    <div class="form-group">
                        <p>Rating:</p>
                        <div class="star-rating" id="star-rating-below">
                            <i class="fas fa-star" data-rating="1"></i>
                            <i class="fas fa-star" data-rating="2"></i>
                            <i class="fas fa-star" data-rating="3"></i>
                            <i class="fas fa-star" data-rating="4"></i>
                            <i class="fas fa-star" data-rating="5"></i>
                        </div>
                        <input type="hidden" name="rating" id="rating-below" value="0">
                    </div>
                    <!-- Comment input -->
                    <div class="form-group">
                        <label for="comment">Your Review:</label>
                        <textarea id="comment-below" class="form-control" rows="4"></textarea>
                    </div>
                    <!-- Submit button -->
                    <div class="form-group" style="margin-top: 20px;">
                        <button type="button" class="btn btn-review" id="addReviewBtn">Review</button>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block postloadjs %}
    <!-- Add this before your script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/star_rating.js' %}"></script>

    <script>
        function changeMainImage(event) {
            var thumbnail = event.target;
            if (thumbnail.classList.contains('thumbnail')) {
                var mainImage = document.getElementById('mainImage');
                var newImageSource = thumbnail.getAttribute('data-main-image');
                mainImage.src = newImageSource;
            }
        }
    </script>
    <script type="text/javascript">
        // Disable +/- buttons outside 1-99 range
        function handleEnableDisable(itemId) {
            var currentValue = parseInt($(`#id_qty_${itemId}`).val());
            var minusDisabled = currentValue < 2;
            var plusDisabled = currentValue > 98;
            $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }

        // Ensure proper enabling/disabling of all inputs on page load
        var allQtyInputs = $('.qty_input');
        for (var i = 0; i < allQtyInputs.length; i++) {
            var itemId = $(allQtyInputs[i]).data('item_id');
            handleEnableDisable(itemId);
        }

        // Check enable/disable every time the input is changed
        $('.qty_input').change(function () {
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });

        // Increment quantity
        $('.increment-qty').click(function (e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue + 1);
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });

        // Decrement quantity
        $('.decrement-qty').click(function (e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue - 1);
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });
    </script>
    <script>
        function submitReview() {
            var rating = $("#rating-below").val(); // Add this line for debugging
            console.log("Rating:", rating); // Add this line for debugging
            var comment = $("#comment-below").val();
            var productId = "{{ product.id }}";

            // Perform AJAX request to submit the review
            $.ajax({
                url: `/reviews/ajax_add_review/${productId}/`,
                type: "POST",
                data: {
                    rating: rating, // Make sure rating is included
                    comment: comment,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    // Update the UI with the new review
                    console.log("Received data:", data);
                    // Check if the average_rating is present in the data
                    if ('average_rating' in data.context) {
                        console.log("Average Rating:", data.context.average_rating);
                    } else {
                        console.log("Average Rating not found in data.context");
                    }

                    // Clear the form inputs
                    $("#rating-below").val(0);
                    $("#comment-below").val("");
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
        $(document).ready(function () {
            let selectedRating = 0;

            $('.star-rating i').click(function () {
                const rating = $(this).data('rating');
                selectedRating = rating;
                updateStars(selectedRating);
            });

            function updateStars(rating) {
                $('.star-rating i').removeClass('checked');
                $('.star-rating i').each(function () {
                    if ($(this).data('rating') <= rating) {
                        $(this).addClass('checked');
                    }
                });
                $('#rating-below').val(rating); // Update the ID to match your HTML
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            // Function to fetch and update cart count on page load
            function updateCartCountOnLoad() {
                $.ajax({
                    type: 'GET',
                    url: '/cart/get_cart_count/',
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            // Update the cart count in the navbar
                            $('#cartCount').text(response.cart_count);
                        }
                    }
                });
            }

        // Call the function on page load
        updateCartCountOnLoad();

        // Form submission handling
        $('#addToCartForm').submit(function (e) {
            e.preventDefault();

            // Perform an AJAX POST request to add to the cart
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),  // Use attr('action') instead of data('action')
                data: $(this).serialize(),
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        // Update the cart count in the navbar
                        $('#cartCount').text(response.cart_count);
                    }
                }
            });
        });
    });

$('.plus-wishlist').click(function () {
    console.log('Plus Wishlist clicked');
    var id = $(this).attr('data-pid').toString();
    $.ajax({
        type: "GET",
        url: `/wishlist/pluswishlist/?prod_id=${id}`,
        success: function (data) {
            console.log('AJAX Success:', data);
            // Redirect with trailing slash
            window.location.href = `http://localhost:8000/products/${id}/`;
        }
    });
});

$('.minus-wishlist').click(function () {
    console.log('Minus Wishlist clicked');
    var id = $(this).attr('data-pid').toString();
    $.ajax({
        type: "GET",
        url: `/wishlist/minuswishlist/?prod_id=${id}`, // Include the namespace in the URL
        success: function (data) {
            console.log('AJAX Success:', data);
            // Redirect with trailing slash
            window.location.href = `http://localhost:8000/products/${id}/`;
        }
    });
});

        function updateCartCount(count) {
            document.getElementById('cartCount').innerText = count;
        }
    </script>

    {% endblock %}